azure-ai-documentintelligence
azure-core
azure-cosmos
azure-identity
azure-search-documents
deepeval
fastapi
httpcore
httptools
httpx
langchain
langchain-core
langchain-openai
langfuse
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions
pydantic
pytest
requests
requests-toolbelt
uvicorn
sse_starlette
azure-ai-projects
azure-monitor-opentelemetry==1.8.1
opentelemetry-instrumentation-openai-v2
opentelemetry-instrumentation-fastapi