aiohttp
anyio
async-timeout
azure-ai-documentintelligence
azure-core
azure-cosmos
azure-identity
azure-search-documents
cryptography
deepeval
fastapi
httpcore
httptools
httpx
langchain
langchain-core
langchain-openai
langchain-text-splitters
langfuse
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
msal
msal-extensions
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
pydantic
pytest
regex
requests
requests-toolbelt
tiktoken
typer
urllib3
uvicorn
websockets
sse_starlette
azure-ai-projects
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai-v2
opentelemetry-instrumentation-fastapi
azure-ai-evaluation